<?php
/*
 * @author  Tigren Solutions <info@tigren.com>
 * @copyright Copyright (c) 2021 Tigren Solutions <https://www.tigren.com>. All rights reserved.
 * @license  Open Software License ("OSL") v. 3.0
 */
?>

<div id="modal-content">
    <div class="modal-inner-content">
        <h3>There is an existing product in the cart!</h3>
        <button id="go-to-checkout">Go to checkout</button>
        <button id="clear-cart">Clear Cart</button>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "advanced": {}
        }
    }
</script>
